@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--background-color);
  font-family: 'Inter', sans-serif;
  color: var(--color-text);
  margin: 0;
}

.h2-title {
  font-size: 28px;
  line-height: 1.17;
  color: var(--color-title);
}

@media screen and (min-width: 1024px) {
  .h2-title {
    font-size: 68px;
    margin-bottom: 50px;
  }
}

.btn {
  padding: o;
  border: 1px solid #fff;
  background: none;
  color: #fff;
}

.container {
  min-width: 250px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media screen and (min-width: 1260px) {
  .container {
    width: 1200px;
  }
}

.header {
  background-color: transparent;
  padding-top: 39px;
  padding-bottom: 39px;
  width: 100%;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
}

.header__position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo-mob {
  width: 70px;
  height: 40px;
  fill: var(--fill-icon);
}

.header__burger {
  padding: 0;
  border: none;
  background: none;
  text-align: center;
}

.header__burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(255, 255, 255, 0.849);
  fill: rgba(255, 255, 255, 0.849);
  font-size: 16px;
}

.header__burger-ikon {
  width: 15px;
  height: 15px;
  fill: inherit;
  margin-right: 5px;
}

.header__burger-text {
  color: inherit;
}

.header__nav-box {
  display: none;
}

.header__contacts-item {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
}

.header__contacts-item:not(:last-child) {
  margin-bottom: 5px;
}

.header__contacts-link {
  font-style: normal;
  color: rgba(255, 255, 255, 0.842);
}

@media screen and (min-width: 768px) {
  .header__nav-box {
    display: block;
  }
  .header__burger-box {
    display: none;
  }
  .header__nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__nav-item {
    color: var(--color-nav-text);
  }
  .header__nav-item:focus, .header__nav-item:hover {
    color: var(--color-hover-focus);
  }
  .header__nav-item:not(:last-child) {
    margin-right: 40px;
  }
  .header__nav-link {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: inherit;
  }
  .header__contacts-item {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
  }
  .header__contacts-item:not(:last-child) {
    margin-bottom: 5px;
  }
  .header__contacts-link {
    font-style: normal;
    color: var(--color-nav-text);
  }
}

@media screen and (min-width: 1024px) {
  .header__nav-link {
    font-size: 22px;
  }
  .header__logo {
    font-size: 30px;
  }
  .header__nav-link {
    font-size: 18px;
  }
  .header__contacts-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0;
    margin-right: 10px;
  }
  .header__contacts-item {
    font-size: 14px;
  }
  .header__contacts-item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 20px;
  }
}

@media screen and (min-width: 1440px) {
  .header {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .header__logo {
    font-size: 26px;
  }
  .header__nav-link {
    font-size: 14px;
  }
  .header__nav-item:not(:last-child) {
    margin-right: 50px;
  }
  .header__contacts-item:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1260px) {
  .hero__position {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .hero__video {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .video-one {
    margin-top: 200px;
    width: 350px;
    height: 400px;
  }
  .video-two {
    width: 350px;
    height: 400px;
  }
  .hero {
    padding-top: 60px;
  }
  .hero__container {
    max-width: 379px;
    margin-right: 180px;
  }
  .hero__title {
    font-weight: 700;
    font-size: 50px;
    line-height: 1.43;
    color: var(--color-title);
    margin-bottom: 60px;
  }
  .hero__small-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: var(--color-small-title);
  }
  .hero__deskription {
    font-weight: 400;
    font-size: 16px;
    line-height: 143%;
    margin-bottom: 40px;
    color: var(--color-text);
  }
  .hero__btn-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .hero__btn {
    width: 180px;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.service {
  padding-top: 50x;
  padding-bottom: 50px;
}

.service__title {
  font-weight: 700;
  font-size: 35px;
  line-height: 1.4;
  margin-bottom: 50px;
  color: var(--color-title);
}

.service__btn-list {
  margin-bottom: 50px;
}

.service__btn-item {
  width: 100%;
  padding: 22px 0;
  text-align: center;
  background: #b4b4b4;
  color: #000000;
}

.service__btn-item:not(:last-child) {
  margin-bottom: 10px;
}

.active-btn {
  background-color: var(--btn-active);
}

.service__subtitle {
  font-weight: 500;
  font-size: 32px;
  line-height: 1.4;
  color: var(--color-small-title);
  margin-bottom: 50px;
}

.service__item:not(:last-child) {
  margin-bottom: 40px;
}

.service__number-ikon {
  width: 32px;
  height: 32px;
  fill: var(--fill-icon);
  margin-bottom: 30px;
}

.service__small-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
  color: var(--color-small-title);
  margin-bottom: 30px;
}

.service__description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
}

@media screen and (min-width: 768px) {
  .service {
    padding-top: 65px;
    padding-bottom: 65px;
  }
  .service__title {
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 70px;
  }
  .service__btn-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 70px;
  }
  .service__btn-item {
    width: 220px;
    padding: 36px 0;
  }
  .service__btn-item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 30px;
  }
  .service__subtitle {
    margin-bottom: 70px;
  }
  .service__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .service__item {
    max-width: 220px;
  }
  .service__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 30px;
  }
  .service__number-ikon {
    width: 36px;
    height: 36px;
    margin-bottom: 30px;
  }
  .service__small-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.4;
    color: var(--color-small-title);
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1260px) {
  .service__title {
    font-weight: 700;
    font-size: 48px;
  }
  .service__btn-item {
    width: 380px;
  }
  .service__item {
    max-width: 380px;
  }
}

.feedback-position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.feedback__text-box {
  max-width: 400px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.feedback__title {
  font-size: 36px;
  margin-bottom: 30px;
}

.feedback__btn-telegram {
  padding: 14px 18px;
  background: none;
  border: 1px solid #ffffff;
  color: #ffffff;
  border-radius: 10px;
  cursor: pointer;
}

.form {
  width: 350px;
  min-height: 200px;
  background-color: #292929;
  padding: 20px;
}

.form__input {
  width: 100%;
  height: 60px;
  border: none;
  border-bottom: 1px solid #ffffff;
  background: none;
  margin-bottom: 10px;
  color: #ffffff;
}

.form__input:focus {
  outline: none;
  border-color: aqua;
}

.form__input::-webkit-input-placeholder {
  color: rgba(253, 253, 253, 0.5);
}

.form__input:-ms-input-placeholder {
  color: rgba(253, 253, 253, 0.5);
}

.form__input::-ms-input-placeholder {
  color: rgba(253, 253, 253, 0.5);
}

.form__input::placeholder {
  color: rgba(253, 253, 253, 0.5);
}

.form__submit {
  display: block;
  background: aqua;
  border: none;
  padding: 12px 20px;
  margin: 0 auto;
  cursor: pointer;
}

.form__message {
  width: 100%;
  height: 60px;
  background: none;
  border: none;
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
  margin-bottom: 26px;
}

.form__message:focus {
  outline: none;
  border-color: aqua;
}

.form__message::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.form__message:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.form__message::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.form__message::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.video {
  padding-top: 50px;
  padding-bottom: 50px;
}

.video__prev-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5px;
}

.video__prev-item {
  width: 60px;
  height: 60px;
  background-color: aqua;
}

.video__prev-item:not(:last-child) {
  margin-right: 5px;
}

.video__video {
  width: 290px;
  height: 200px;
  background-color: aqua;
  margin-bottom: 50px;
}

.video__title {
  margin-bottom: 50px;
}

.video__more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video__more-title {
  margin-right: 10px;
}

.video__more-link {
  font-style: normal;
  color: #ffffff;
}

body.show-modal .modal-more {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  overflow: auto;
}

.modal-more {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.404);
  z-index: 100;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 200ms ease-in-out, visibility 200ms ease-in-out;
  transition: opacity 200ms ease-in-out, visibility 200ms ease-in-out;
}

.modal-more__list {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: 0px 0px 35px 0px rgba(1, 33, 82, 0.712);
          box-shadow: 0px 0px 35px 0px rgba(1, 33, 82, 0.712);
  width: 400px;
  padding: 80px 60px;
  text-align: center;
  background-color: aqua;
}

.modal-more__item {
  background: #ffffff;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px;
  -webkit-box-shadow: 0 57px 145px rgba(0, 0, 0, 0.7);
          box-shadow: 0 57px 145px rgba(0, 0, 0, 0.7);
}

.modal-more__item:not(:last-child) {
  margin-bottom: 20px;
}

.modal-more__link {
  font-size: 24px;
  font-style: normal;
  color: #000000;
}

.is-active {
  background: aqua;
}

.scroll-top {
  padding: 10px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid #fff;
  fill: #fff;
  position: fixed;
  bottom: 30px;
  right: 20px;
  cursor: pointer;
  z-index: 10000;
}

.scroll-top-show {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

.scroll-top-hiden {
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
}

.music {
  padding-top: 100px;
  padding-bottom: 100px;
}

.music__title {
  margin-bottom: 32px;
  color: var(--color-title-h2);
}

.music__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 15px;
  background-color: rgba(104, 104, 104, 0.301);
  border-radius: 10px;
}

.music__item:not(:last-child) {
  margin-bottom: 20px;
}

.music__btn {
  padding: 0;
  border: none;
  background: none;
  width: 26px;
  height: 26px;
  margin-left: auto;
}

.music__btn-play {
  width: 100%;
  height: 100%;
}

.music__btn-pause {
  width: 100%;
  height: 100%;
  display: none;
}

.music__item-more {
  margin-left: auto;
  padding: 0;
  border: none;
  background: none;
  width: 22px;
  height: 20px;
}

.music__btn-more {
  width: 100%;
  height: 100%;
  fill: var(--fill-icon);
}

.music__img {
  margin-right: 15px;
}

.music__audio-title {
  font-size: 20px;
  margin-bottom: 5px;
  color: var(--color-title-h2);
}

.music__audio-artist {
  font-size: 18px;
  color: var(--color-text);
}

.is-active {
  background: aqua;
}

.is-active .music__btn-pause {
  display: block;
}

.is-active .music__btn-play {
  display: none;
}

.music__first-album {
  margin-bottom: 20px;
}

.music__second-album {
  margin-bottom: 20px;
}

.music__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.music__social-item:not(:last-child) {
  margin-right: 42px;
}

.music__social-link {
  font-style: normal;
  color: var(--color-text);
}

.music__social-box {
  margin-top: 40px;
}

.player {
  background: rgba(255, 255, 255, 0.6);
  padding: 23px 26px;
}

.player__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.player__item:not(:last-child) {
  margin-right: 42px;
}

.player__btn {
  padding: 0;
  border: none;
  background: none;
}

.player__btn-ikon {
  width: 44px;
  height: 44px;
  fill: var(--fill-icon);
}

.btn-play {
  position: relative;
  top: -50px;
  width: 80px;
  height: 80px;
  -webkit-filter: drop-shadow(0px 10px 20px rgba(85, 58, 1, 0.842));
          filter: drop-shadow(0px 10px 20px rgba(85, 58, 1, 0.842));
  border-radius: 50px;
}

.play {
  background: rgba(133, 108, 0, 0.25);
  background-blend-mode: overlay;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}

@media screen and (min-width: 768px) {
  .music__first-album {
    margin-left: auto;
    max-width: 50%;
  }
  .music__second-album {
    max-width: 50%;
  }
  .music__third-album {
    margin-left: auto;
    max-width: 50%;
  }
}

@media screen and (min-width: 1440px) {
  .music__item {
    padding: 15px 25px;
  }
  .music__btn {
    width: 30px;
    height: 30px;
  }
  .music__btn-play {
    width: 100%;
    height: 100%;
  }
  .music__btn-pause {
    width: 100%;
    height: 100%;
    display: none;
  }
  .music__item-more {
    margin-left: auto;
    padding: 0;
    border: none;
    background: none;
    width: 22px;
    height: 30px;
  }
  .music__audio-title {
    font-size: 24px;
  }
}

body.open-burger-menu .burger-menu {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  overflow: auto;
}

.burger-menu {
  background: rgba(0, 0, 0, 0.603);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  padding: 40px;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
}

.burger__position {
  position: absolute;
  top: 0;
  left: 0;
  width: 80vw;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100%;
  background: #000;
  -webkit-box-shadow: 0px 0px 35px 0px rgba(1, 33, 82, 0.712);
          box-shadow: 0px 0px 35px 0px rgba(1, 33, 82, 0.712);
}

.burger__nav-list {
  display: block;
}

.burger__nav-item:not(:last-child) {
  margin-bottom: 32px;
}

.burger__nav-link {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: #fff;
}

.burger__contacts-list {
  display: block;
}

.burger__contacts-item:not(:last-child) {
  margin-bottom: 32px;
}

.burger__contacts-link {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #fff;
}

.burger__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.burger__social-item:not(:last-child) {
  margin-right: 32px;
}

.burger__social-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #fff;
}

.footer {
  padding-top: 60px;
  padding-bottom: 20px;
}

.footer__rights-box {
  border-top: 1px solid #ffffff;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .footer__position {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

:root {
  --background-color: #000000;
  --color-hero-title: rgba(255, 255, 255, 0.973);
  --color-title: #ffffff;
  --color-small-title: #ffffff;
  --color-text: rgba(221, 221, 221, 0.856);
  --btn-color: #fff;
  --btn-border: #fff;
  --btn-active: #1ad34e;
  --btn-hover-color: #fff;
  --btn-hover-border: #fff;
  --color-nav-text: #ffffff;
  --color-hover-focus: #fac564;
  --fill-icon: rgba(255, 255, 255, 0.856);
  --fill-icon-hover-focus: #fac564;
}
/*# sourceMappingURL=main.css.map */