@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-color: #464444;
  font-family: "Roboto", sans-serif;
  color: var(--color-title);
  margin: 0;
}

.container {
  min-width: 250px;
  max-width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 321px) {
  .container {
    width: 290px;
  }
}

@media screen and (min-width: 480px) {
  .container {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 708px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    width: 964px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1380px;
  }
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 42px;
  padding-bottom: 40px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav-item:not(:last-child) {
  margin-right: 20px;
}

.header__nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  padding: 10px;
  color: var(--color-text);
  font-style: normal;
}

.header__nav-link:hover, .header__nav-link:focus {
  color: var(--color-hover-focus);
  border-radius: 16px;
}

@media screen and (min-width: 768px) {
  .header__nav-link {
    font-size: 18px;
    letter-spacing: 5px;
  }
}

.hero {
  padding-top: 125px;
  text-align: center;
  max-width: 1600px;
  margin: 0 auto;
  background-color: var(--hero-background-color);
}

.hero__title {
  font-size: 90px;
  font-family: 'Amita', cursive;
}

.hero__position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__hello {
  font-weight: 600;
  font-size: 48px;
  line-height: 54px;
  margin-bottom: 20px;
}

.hero__iam {
  font-weight: bold;
  font-size: 72px;
  line-height: 82px;
}

.hero__description {
  font-weight: 600;
  font-size: 24px;
  line-height: 54px;
}

.hero__btn {
  padding: 14px 40px;
  background: linear-gradient(87.32deg, #E2A300 4.47%, #E29500 95.53%);
  border: none;
  -webkit-box-shadow: 0px 2px 13px rgba(226, 158, 0, 0.48);
          box-shadow: 0px 2px 13px rgba(226, 158, 0, 0.48);
  border-radius: 6px;
  margin-top: 30px;
  margin-left: 230px;
  cursor: pointer;
}

.hero__left {
  max-width: 450px;
  text-align: left;
}

.link__svg-hero {
  width: 60px;
  height: 60px;
}

.social {
  background-color: #636363;
}

.social__container {
  padding-top: 76px;
  padding-bottom: 76px;
  text-align: center;
}

.link__svg-scl {
  width: 30px;
  height: 30px;
  padding: 10px;
  fill: #00C4F0;
}

.link__svg-scl:focus, .link__svg-scl:hover {
  fill: var(--color-hover-focus);
}

.social__span {
  display: block;
}

.social__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.social__social-item {
  padding-top: 30px;
  background: #2A2A2A;
  -webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.47);
          box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.47);
  border-radius: 29px;
  width: 150px;
  height: 120px;
}

.social__social-item:not(:last-child) {
  margin-right: 10px;
}

.social__social-link {
  font-style: normal;
  color: #00C4F0;
}

.social__social-link:focus, .social__social-link:hover {
  color: var(--color-hover-focus);
}

.about {
  background-color: var(--video-background-color);
  padding-top: 200px;
  padding-bottom: 200px;
}

.about__left {
  max-width: 290px;
  margin: 0 auto;
}

.about__title {
  text-align: center;
  font-weight: 500;
  font-size: 48px;
  line-height: 130%;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 35px;
}

.about__description {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
  color: rgba(255, 255, 255, 0.726);
}

.about__tell {
  text-align: right;
  margin-bottom: 30px;
}

.about__contact {
  margin-top: 40px;
}

.about__contact-title {
  color: rgba(3, 218, 197, 0.788);
  margin-bottom: 30px;
}

.about__contact-link {
  font-style: normal;
  color: inherit;
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  .about__left {
    max-width: 680px;
  }
  .about__contact-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about__contact-item:not(:last-child) {
    margin-right: 50px;
  }
  .about__tell {
    text-align: left;
    margin-bottom: 0;
  }
  .about__mail {
    text-align: right;
  }
}

.video {
  padding-top: 100px;
  padding-bottom: 50px;
  text-align: center;
}

.video__title {
  font-size: 48px;
  line-height: 1.15;
  margin-bottom: 45px;
}

.video__iframe {
  display: block;
  width: 300px;
  height: 250px;
  border-radius: 10px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .video {
    padding-top: 150px;
    padding-bottom: 70px;
  }
  .video__title {
    font-size: 68px;
  }
  .video__iframe {
    width: 500px;
    height: 350px;
  }
}

@media screen and (min-width: 1024px) {
  .video {
    padding-top: 200px;
    padding-bottom: 100px;
  }
  .video__title {
    font-size: 86px;
    margin-bottom: 55px;
  }
  .video__iframe {
    width: 700px;
    height: 450px;
  }
}

.music {
  padding-top: 50px;
  padding-bottom: 150px;
  color: rgba(255, 255, 255, 0.6);
}

.music__position {
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.14), 0px 3px 14px rgba(0, 0, 0, 0.12), 0px 5px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.14), 0px 3px 14px rgba(0, 0, 0, 0.12), 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.player {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.music__left {
  padding-top: 45px;
  padding-bottom: 30px;
  position: relative;
}

.music__none {
  display: none;
}

.music__block {
  display: block;
}

.music__right {
  padding-left: 30px;
}

.cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px 0;
}

.cover__img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  fill: transparent;
  stroke: var(--color-text);
}

.cover__img.active {
  -webkit-animation: rotateAnimation 3s linear infinite;
          animation: rotateAnimation 3s linear infinite;
}

.title {
  text-align: center;
}

.song {
  text-align: center;
}

.progress__container {
  background: #03a093;
  opacity: 0.24;
  border-radius: 5px;
  width: 100%;
  height: 10px;
  margin-top: 63px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.progress {
  background: white;
  border-radius: 5px;
  height: 6px;
}

.music__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 200px;
  width: 100%;
  margin: 0 auto;
  margin-top: 45px;
}

.music__btn-svg {
  width: 45px;
  height: 45px;
  fill: #24272C;
  -webkit-box-shadow: -18px -18px 36px rgba(255, 255, 255, 0.48), 18px 18px 36px rgba(0, 0, 0, 0.33), inset 0px 4px 42px rgba(0, 0, 0, 0.06);
          box-shadow: -18px -18px 36px rgba(255, 255, 255, 0.48), 18px 18px 36px rgba(0, 0, 0, 0.33), inset 0px 4px 42px rgba(0, 0, 0, 0.06);
  border-radius: 40px;
}

.btn__prev {
  width: 44px;
  height: 44px;
  padding: 0;
  fill: rgba(255, 255, 255, 0.6);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/prev.png);
  cursor: pointer;
}

.btn__next {
  width: 44px;
  height: 44px;
  padding: 0;
  fill: rgba(255, 255, 255, 0.6);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/next.png);
  cursor: pointer;
}

.btn__play {
  width: 45px;
  height: 45px;
  padding: 0;
  fill: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}

.play-img {
  width: 45px;
  height: 45px;
  padding: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/play.png);
  cursor: pointer;
}

.pause {
  width: 44px;
  height: 44px;
  padding: 0;
  fill: rgba(255, 255, 255, 0.6);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/pause.png);
  cursor: pointer;
}

@-webkit-keyframes rotateAnimation {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotateAnimation {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.music__playlist {
  text-align: left;
}

.music__play-item {
  list-style: inside;
  font-weight: 18px;
  padding-top: 15px;
  padding-bottom: 5px;
  height: 35px;
  text-align: left;
  padding-left: 15px;
  cursor: pointer;
}

.music__play-item:hover, .music__play-item:focus {
  background: rgba(3, 160, 147, 0.507);
  color: #d0e0dffd;
  border-radius: 10px;
}

.active-li {
  background: rgba(3, 160, 147, 0.815);
  color: #BB86FC;
  border-radius: 10px;
}

.music__follow-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 35px;
}

.music__playlist-list {
  position: absolute;
  top: 5px;
  left: 5px;
}

.music__playlist-svg {
  width: 30px;
  height: 30px;
  fill: rgba(255, 255, 255, 0.6);
}

.follow__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 4px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.follow__title {
  display: none;
  font-weight: 600;
  font-size: 20px;
}

.follow__item:not(:last-child) {
  margin-right: 20px;
}

.follow__svg {
  width: 25px;
  height: 25px;
  padding: 10px;
  fill: rgba(235, 235, 245, 0.363);
  background: #24272C;
  -webkit-box-shadow: 0 0 4px rgba(255, 255, 255, 0.25), 2px 2px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 4px rgba(255, 255, 255, 0.25), 2px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
}

.follow__svg:hover, .follow__svg:focus {
  fill: #2FB8FF;
  background: #24272C;
  -webkit-box-shadow: inset -6px -6px 12px rgba(255, 255, 255, 0.25), inset 6px 6px 12px rgba(0, 0, 0, 0.25);
          box-shadow: inset -6px -6px 12px rgba(255, 255, 255, 0.25), inset 6px 6px 12px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
}

@media screen and (min-width: 768px) {
  .music__position {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.14), 0px 3px 14px rgba(0, 0, 0, 0.12), 0px 5px 5px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.14), 0px 3px 14px rgba(0, 0, 0, 0.12), 0px 5px 5px rgba(0, 0, 0, 0.2);
  }
  .music__left {
    height: 560px;
  }
  .music__none {
    display: block;
  }
  .music__playlist-list {
    display: none;
  }
  .music__left {
    max-width: 250px;
    width: 100%;
    padding-left: 20px;
  }
  .music {
    padding-top: 100px;
  }
  .follow__title {
    display: block;
    margin-right: 30px;
    font-weight: 600;
    font-size: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .music__left {
    max-width: 300px;
    width: 100%;
    padding-left: 40px;
  }
  .music__right {
    max-width: 300px;
    width: 100%;
  }
  .music__follow-social {
    margin-top: 50px;
  }
}

.footer {
  padding-top: 80px;
  padding-bottom: 20px;
  background: rgba(18, 18, 18, 0.849);
  text-align: center;
}

.footer__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer__contact {
  width: 200px;
  text-align: left;
}

.footer__contact-title {
  margin-bottom: 15px;
  color: rgba(255, 255, 255, 0.973);
}

.footer__logo {
  font-family: var(--fonts-logo);
  font-size: 35px;
  margin-bottom: 80px;
}

.footer__nav-list {
  margin-bottom: 60px;
}

.footer__nav-item:not(:last-child) {
  margin-bottom: 15px;
}

.footer__nav-list-right {
  text-align: left;
}

.link__svg-ft {
  width: 20px;
  height: 20px;
  padding: 10px;
  fill: rgba(255, 255, 255, 0.829);
}

.link__svg-ft:hover, .link__svg-ft:focus {
  background: rgba(3, 218, 198, 0.12);
  border-radius: 50px;
  fill: #03DAC5;
}

.footer__nav-link {
  color: rgba(255, 255, 255, 0.904);
  font-style: normal;
  font-size: 12px;
}

.footer__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__social-item:not(:last-child) {
  margin-right: 15px;
}

.copy {
  margin-top: 60px;
}

@media screen and (min-width: 768px) {
  .link__svg-ft {
    width: 30px;
    height: 30px;
  }
  .footer__social-item:not(:last-child) {
    margin-right: 25px;
  }
  .footer__contact-title {
    font-size: 23px;
  }
  .footer__nav-link {
    font-size: 20px;
  }
  .footer__contact {
    width: 300px;
  }
}

:root {
  --hero-background-color: #121618;
  --social-background-color: rgba(44, 53, 61, 0.2);
  --video-background-color: #212121;
  --about-background-color: #171717;
  --trecks-background-color: #212121;
  --footer-background-color: #171717;
  --color-title: rgba(170, 169, 169, 0.973);
  --color-text:rgba(170, 169, 169, 0.5);
  --color-hover-focus: #fac564;
  --play-btn: url(../images/play.png);
  --pause-btn: url(../images/pause.png);
}
/*# sourceMappingURL=main.css.map */