:root {
  --background-color: #000000;
  --color-title-h1: rgba(255, 255, 255, 0.973);
  --color-title-h2: #ffffff;
  --color-text: rgba(170, 169, 169, 0.856);
  --color-nav-text: #ffffff;

  --color-hover-focus: #fac564;

  --fill-icon: rgba(255, 255, 255, 0.856);
  --fill-icon-hover-focus: #fac564;
}
