:root {
  --background-color: #000000;
  --color-hero-title: rgba(255, 255, 255, 0.973);
  --color-title: #ffffff;
  --color-small-title: #ffffff;
  --color-text: rgba(221, 221, 221, 0.856);
  --btn-color: #fff;
  --btn-border: #fff;
  --btn-active: #1ad34e;
  --btn-hover-color: #fff;
  --btn-hover-border: #fff;
  --color-nav-text: #ffffff;

  --color-hover-focus: #fac564;

  --fill-icon: rgba(255, 255, 255, 0.856);
  --fill-icon-hover-focus: #fac564;
}
