<section class="about" id="about">
  <div class="container about__position">
    <div class="about__text-box">
      <h2 class="h2-title about__title">About me</h2>
      <p class="about__description">
        Aspiring musician, performer who wants to share his creativity and is looking for those who
        want to develop their talents with me. I create deep house music, write lyrics, play the
        guitar. Music is with me always and everywhere ... I am inspired by feelings, people, the
        world around me and just special moments in life.
      </p>
      <button class="about__btn">Writing me</button>
      <div class="about__social-box">
        <p class="about__social-title">Follow me:</p>
        <ul class="about__social-list">
          <li class="about__social-item">
            <a
              class="about__social-link"
              href="https://music.apple.com/us/artist/tony-naty/1526482583/see-all?section=top-songs"
              target="_blank"
              rel="noopener noreferrer"
              >Instagram</a
            >
          </li>
          <li class="about__social-item">
            <a
              class="about__social-link"
              href="https://open.spotify.com/artist/6nasf2pJl31jilAflqvsX0?si=lKQr-1DbQG-m0esiI28daA&nd=1"
              target="_blank"
              rel="noopener noreferrer"
              >Spotify</a
            >
          </li>
          <li class="about__social-item">
            <a
              class="about__social-link"
              href="https://music.apple.com/us/artist/tony-naty/1526482583/see-all?section=top-songs"
              target="_blank"
              rel="noopener noreferrer"
              >Music Apple</a
            >
          </li>
          <li class="about__social-item">
            <a
              class="about__social-link"
              href="https://soundcloud.com/tony-naty/tracks"
              target="_blank"
              rel="noopener noreferrer"
              >Soundcloud</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="about__img-box">
      <img src="./images/about.png" alt="" class="about__img" />
    </div>
  </div>
</section>
<!-- <svg class="play-img">
              <use href="./images/sprite.svg#instagram" width="22px," height="22px"></use>
              </svg> -->
