<section class="about">
<div class="container" id="about">
<div class="about__position">
<div class="about__left">
<h2 class="about__title">About me</h2>
<p class="about__description">
Tony Naty. Simple guy, 21 years old. I live in the small town of Pokrov, Ukraine. 
I create deep house music, write lyrics, play the guitar. 
Music is with me always and everywhere ... at work and at home, on the road, on vacation and in sports, and in nature.
I am fond of cooking food (yes, I am a cook😉), and this is a hobby for the soul. I work as a plumber currently.
I am inspired by feelings, people, the world around me and just special moments in life. 
Aspiring musician, performer who wants to share his creativity and is
looking for those who want to develop their talents with me.
</p>
</div>
<!-- <div class="about__right">
<img class="about__img-first" src="./images/begnew.jpg" alt="">
<img class="about__img-second" src="./images/newnext.png" alt="">
</div> -->
</div>
<div class="about__contact">
    <ul class="about__contact-list">
        <li class="about__contact-item about__tell">
            <a class="about__contact-link" href="tell:+380630606619">
                <!-- <svg class="about__ikon">
                <use href="./images/sprite.svg#phone"></use>
                </svg> -->
                <span class="about__contact-title">
                Phone:
                </span>
                +38063 060 6619</a>
            </li>
        <li class="about__contact-item about__mail">
            <a class="about__contact-link" href="mailto:nataliakal4enko@gmail.com">
            <span class="about__contact-title">
            Email:
            </span>
            nataliakal4enko@gmail.com</a>
            </li>
        </ul> 
    </div>
</div>
</section>