<section class="modal-more">
  <div class="container">
    <ul class="modal-more__list">
      <li class="modal-more__item">
        <a href="" class="modal-more__link"> Spotify </a>
      </li>
      <li class="modal-more__item">
        <a href="" class="modal-more__link"> Soundcloud </a>
      </li>
      <li class="modal-more__item">
        <a href="" class="modal-more__link"> Youtube </a>
      </li>
      <li class="modal-more__item">
        <a href="" class="modal-more__link"> AppleMusic </a>
      </li>
      <li class="modal-more__item">
        <a href="" class="modal-more__link"> Reverbnation </a>
      </li>
    </ul>
  </div>
</section>

