<footer class="footer" id="contacts">
    <div class="container">
  <div class="footer__logo"> 
  Tony_Naty
  </div>
  <div class="footer__flex">
  <div class="footer__contact">
  <p class="footer__contact-title">Contacts:</p>
    <ul class="footer__nav-list">
      <li class="footer__nav-item"><a class="footer__nav-link" href="tell:+380630606619">+38063 060 6619</a></li>
      <li class="footer__nav-item"><a class="footer__nav-link" href="mailto:nataliakal4enko@gmail.com">nataliakal4enko@gmail.com</a></li>
    </ul>
  </div>
  <div class="footer__nav">
    <ul>
      <li class="footer__nav-item"><a class="footer__nav-link" href="#new">New</a></li>
      <li class="footer__nav-item"><a class="footer__nav-link" href="#music">Music</a></li>
    </ul>
  </div>
</div>
  </div>
  <div>
    <ul class="footer__social-list">
      <li class="footer__social-item"><a class="footer__social-link" href="https://www.instagram.com/tony_naty_/" target="_blank"
        rel="noopener noreferrer">
        <svg class="link__svg-ft">
          <use href="./images/sprite.svg#instagram"></use>
          </svg>
      </a></li>
      <li class="footer__social-item"><a class="footer__social-link" href="https://www.reverbnation.com/tonynaty" target="_blank"
        rel="noopener noreferrer">
        <svg class="link__svg-ft">
          <use href="./images/sprite.svg#reverbnation"></use>
          </svg>
      </a></li>
      <li class="footer__social-item"><a class="footer__social-link" href="https://www.youtube.com/channel/UC4vllCH7ssAaMi545ERfGpQ" target="_blank"
        rel="noopener noreferrer">
        <svg class="link__svg-ft">
          <use href="./images/sprite.svg#youtube"></use>
          </svg></a></li>
      <li class="footer__social-item"><a class="footer__social-link" href="https://open.spotify.com/artist/6nasf2pJl31jilAflqvsX0?si=lKQr-1DbQG-m0esiI28daA&nd=1" target="_blank"
        rel="noopener noreferrer">
        <svg class="link__svg-ft">
          <use href="./images/sprite.svg#spotify"></use>
          </svg>
      </a></li>
      <li class="footer__social-item"><a class="footer__social-link" href="https://soundcloud.com/tony-naty" target="_blank"
        rel="noopener noreferrer">
        <svg class="link__svg-ft">
          <use href="./images/sprite.svg#soundcloud"></use>
          </svg>
      </a></li>
      <li class="footer__social-item"><a class="footer__social-link" href="https://music.apple.com/us/artist/tony-naty/1526482583" target="_blank"
        rel="noopener noreferrer">
        <svg class="link__svg-ft">
          <use href="./images/sprite.svg#applemusic"></use>
          </svg>
      </a></li>
    </ul> 
  <p class="copy">&#169 2022 Tony_Naty</p>
    </div>
  </footer>