<header class="header">
    <div class="container">
      <nav class="header__nav">
        <ul class="header__nav-list">
          <li class="header__nav-item"><a class="header__nav-link" href="#about">About me</a></li>
          <li class="header__nav-item"><a class="header__nav-link" href="#music">Music</a></li>
          <li class="header__nav-item"><a class="header__nav-link" href="#contacts">Contacts</a></li>
        </ul>
        
        <!-- <ul class="header__list">
          <li class="header__nav-item"><a class="header__nav-link" href="#about">+380630606619</a></li>
        </ul> -->
      </nav>
    </div>
  </header>