<section class="hero section"> 
    <div class="container">
      <!-- <div class="hero__position"> -->
      <!-- <div class="hero__social-left">
        <ul class="hero__social-list">
          <li class="hero__social-item"><a class="hero__social-link" href="tell:+380630606619">+38063 060 6619</li>
          <li class="hero__social-item"><a class="hero__social-link" href="mailto:nataliakal4enko@gmail.com">nataliakal4enko@gmail.com</li>
        </ul>
      </div> -->
    
     <div class="hero__text-box">
      <!-- <p class="hero__iam">I am</p> -->
      <h1 class="hero__title">Tony-Naty</h1>
      <p class="hero__description">I create music for you</p>
      </div>
      <div class="hero__img">
      <!-- <img width="400px" height="100%" src="./images/begnew.jpg" alt=""> -->
    </div>
    </div>
  </div>
  </section>