<section class="hero">
  <div class="container hero__container">
    <h1 class="hero__title">Создание музыки на заказ</h1>
    <p class="hero__deskription">
      Я создаю дип-хаус музыку, писать тексты, играть на гитаре.Я вдохновлен чувствами, людьми,
      окружающим миром и просто особенными моментами в жизни.
    </p>
    <ul class="hero__btn-list">
      <li class="hero__btn-item">
        <button class="hero__btn active">Заказать музыку</button>
      </li>
      <li class="hero__btn-item">
        <button class="hero__btn">Портфолио</button>
      </li>
    </ul>
  </div>
</section>
