<section class="hero">
  <div class="container hero__container">
    <p class="hero__deskription">New singl</p>
    <h1 class="hero__title">Broken heart</h1>
    <p class="hero__social-title">listn here:</p>
    <ul class="hero-social-list">
      <li class="hero__social-item">
        <a
          class="hero__social-link"
          href="https://www.reverbnation.com/tonynaty"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="hero__social-icon"><use href="./images/sprite.svg#spotify"></use></svg
        ></a>
      </li>
      <li class="hero__social-item">
        <a
          class="hero__social-link"
          href="https://open.spotify.com/artist/6nasf2pJl31jilAflqvsX0?si=lKQr-1DbQG-m0esiI28daA&nd=1"
          target="_blank"
          rel="noopener noreferrer"
          ><svg class="hero__social-icon">
            <use href="./images/sprite.svg#youtube"></use></svg
        ></a>
      </li>
      <li class="hero__social-item">
        <a
          class="hero__social-link"
          href="https://www.youtube.com/channel/UC4vllCH7ssAaMi545ERfGpQ"
          target="_blank"
          rel="noopener noreferrer"
          ><svg class="hero__social-icon">
            <use href="./images/sprite.svg#soundcloud"></use></svg
        ></a>
      </li>
    </ul>
  </div>
</section>
