<section class="music" id="music">
  <div class="container">
    <h2 class="h2-title music__title">Music</h2>
    <div class="listing">
    <div class="music__first-album">
      <ul class="music__list">
        <li class="music__item">
          <img src="./images/2222.jpg" alt="" class="music__img">
          <div class="music__item-text">
            <p class="music__audio-title">22-22</p>
            <p class="music__audio-artist">Tony_Naty</p>
          </div>
          <audio src="./audio/22-22.mp3">
            Воспроизведение аудио-файла не поддерживается браузером
          </audio>
          <button class="music__btn">
            <svg class="music__btn-play">
              <use href="./images/sprite.svg#play"></use>
            </svg>
            <svg class="music__btn-pause">
              <use href="./images/sprite.svg#pause"></use>
            </svg>
          </button>
          <!-- <button class="music__item-more">
            <svg class="music__btn-more">
              <use href="./images/sprite.svg#dowland"></use>
            </svg>
          </button> -->
        </li>
        <li class="music__item">
          <img src="./images/brokenheart.jpg" alt="" class="music__img">
          <div class="music__item-text">
            <p class="music__audio-title">Broken heart</p>
            <p class="music__audio-artist">Tony_Naty</p>
          </div>
          <audio src="./audio/Broken heart.mp3">
            Воспроизведение аудио-файла не поддерживается браузером
          </audio>
          <!-- <button class="music__item-more">
            <svg class="music__btn-more">
              <use href="./images/sprite.svg#dowland"></use>
            </svg>
          </button> -->
          <button class="music__btn">
            <svg class="music__btn-play">
              <use href="./images/sprite.svg#play"></use>
            </svg>
            <svg class="music__btn-pause">
              <use href="./images/sprite.svg#pause"></use>
            </svg>
          </button>
        </li>
        <li class="music__item">
          <img src="./images/dance.jpg" alt="" class="music__img">
          <div class="music__item-text">
            <p class="music__audio-title">Dance</p>
            <p class="music__audio-artist">Tony_Naty</p>
          </div>
          <audio src="./audio/Dance 1.mp3">
            Воспроизведение аудио-файла не поддерживается браузером
          </audio>
          <!-- <button class="music__item-more">
            <svg class="music__btn-more">
              <use href="./images/sprite.svg#dowland"></use>
            </svg>
          </button> -->
          <button class="music__btn">
            <svg class="music__btn-play">
              <use href="./images/sprite.svg#play"></use>
            </svg>
            <svg class="music__btn-pause">
              <use href="./images/sprite.svg#pause"></use>
            </svg>
          </button>
        </li>
        <li class="music__item">
         <img src="./images/feelsogood.jpg" alt="" class="music__img">
          <div class="music__item-text">
            <p class="music__audio-title">Feel so good</p>
            <p class="music__audio-artist">Tony_Naty</p>
          </div>
          <audio src="./audio/feel  so good.wav">
            Воспроизведение аудио-файла не поддерживается браузером
          </audio>
          <!-- <button class="music__item-more">
            <svg class="music__btn-more">
              <use href="./images/sprite.svg#dowland"></use>
            </svg>
          </button> -->
          <button class="music__btn">
            <svg class="music__btn-play">
              <use href="./images/sprite.svg#play"></use>
            </svg>
            <svg class="music__btn-pause">
              <use href="./images/sprite.svg#pause"></use>
            </svg>
          </button>
        </li>
        </ul>
        </div>
        <div class="music__second-album">
          <ul>
        <li class="music__item">
         <img src="./images/gingersnaps.jpg" alt="" class="music__img">
          <div class="music__item-text">
            <p class="music__audio-title">Ginger snaps</p>
            <p class="music__audio-artist">Tony_Naty</p>
          </div>
          <audio src="./audio/GINGER SNAPS.mp3">
            Воспроизведение аудио-файла не поддерживается браузером
          </audio>
          <!-- <button class="music__item-more">
            <svg class="music__btn-more">
              <use href="./images/sprite.svg#dowland"></use>
            </svg>
          </button> -->
          <button class="music__btn">
            <svg class="music__btn-play">
              <use href="./images/sprite.svg#play"></use>
            </svg>
            <svg class="music__btn-pause">
              <use href="./images/sprite.svg#pause"></use>
            </svg>
          </button>
        </li>
        <li class="music__item">
          <img src="./images/hazeleyes.jpg" alt="" class="music__img">
          <div class="music__item-text">
            <p class="music__audio-title">Hazel eyes</p>
            <p class="music__audio-artist">Tony_Naty</p>
          </div>
          <audio src="./audio/Hazel eyes.mp3">
            Воспроизведение аудио-файла не поддерживается браузером
          </audio>
          <!-- <button class="music__item-more">
            <svg class="music__btn-more">
              <use href="./images/sprite.svg#dowland"></use>
            </svg>
          </button> -->
          <button class="music__btn">
            <svg class="music__btn-play">
              <use href="./images/sprite.svg#play"></use>
            </svg>
            <svg class="music__btn-pause">
              <use href="./images/sprite.svg#pause"></use>
            </svg>
          </button>
        </li>
        <li class="music__item">
         <img src="./images/kosmos.jpg" alt="" class="music__img">
          <div class="music__item-text">
            <p class="music__audio-title">Kosmos</p>
            <p class="music__audio-artist">Tony_Naty</p>
          </div>
          <audio src="./audio/kOsmos.wav">
            Воспроизведение аудио-файла не поддерживается браузером
          </audio>
          <!-- <button class="music__item-more">
            <svg class="music__btn-more">
              <use href="./images/sprite.svg#dowland"></use>
            </svg>
          </button> -->
          <button class="music__btn">
            <svg class="music__btn-play">
              <use href="./images/sprite.svg#play"></use>
            </svg>
            <svg class="music__btn-pause">
              <use href="./images/sprite.svg#pause"></use>
            </svg>
          </button>
        </li>
        <li class="music__item">
          <img src="./images/lambada.jpg" alt="" class="music__img">
          <div class="music__item-text">
            <p class="music__audio-title">Lambada</p>
            <p class="music__audio-artist">Tony_Naty</p>
          </div>
          <audio src="./audio/Lambada.mp3">
            Воспроизведение аудио-файла не поддерживается браузером
          </audio>
          <!-- <button class="music__item-more">
            <svg class="music__btn-more">
              <use href="./images/sprite.svg#dowland"></use>
            </svg>
          </button> -->
          <button class="music__btn">
            <svg class="music__btn-play">
              <use href="./images/sprite.svg#play"></use>
            </svg>
            <svg class="music__btn-pause">
              <use href="./images/sprite.svg#pause"></use>
            </svg>
          </button>
        </li>
        </ul>
        </div>
        <div class="music__third-album">
          <ul>
        <li class="music__item">
          <img src="./images/majorlazerstyle.jpg" alt="" class="music__img">
          <div class="music__item-text">
            <p class="music__audio-title">Major Lazer style</p>
            <p class="music__audio-artist">Tony_Naty</p>
          </div>
          <audio src="./audio/Major Lazer style.mp3">
            Воспроизведение аудио-файла не поддерживается браузером
          </audio>
          <!-- <button class="music__item-more">
            <svg class="music__btn-more">
              <use href="./images/sprite.svg#dowland"></use>
            </svg>
          </button> -->
          <button class="music__btn">
            <svg class="music__btn-play">
              <use href="./images/sprite.svg#play"></use>
            </svg>
            <svg class="music__btn-pause">
              <use href="./images/sprite.svg#pause"></use>
            </svg>
          </button>
        </li>
        <li class="music__item">
         <img src="./images/rosebabyrose.jpg" alt="" class="music__img">
          <div class="music__item-text">
            <p class="music__audio-title">Rose baby rose</p>
            <p class="music__audio-artist">Tony_Naty</p>
          </div>
          <audio src="./audio/ROSE BABY ROSE.mp3">
            Воспроизведение аудио-файла не поддерживается браузером
          </audio>
          <!-- <button class="music__item-more">
            <svg class="music__btn-more">
              <use href="./images/sprite.svg#dowland"></use>
            </svg>
          </button> -->
          <button class="music__btn">
            <svg class="music__btn-play">
              <use href="./images/sprite.svg#play"></use>
            </svg>
            <svg class="music__btn-pause">
              <use href="./images/sprite.svg#pause"></use>
            </svg>
          </button>
        </li>
        <li class="music__item">
         <img src="./images/ruffday.jpg" alt="" class="music__img">
          <div class="music__item-text">
            <p class="music__audio-title">Ruff life</p>
            <p class="music__audio-artist">Tony_Naty</p>
          </div>
          <audio src="./audio/Ruff Life.mp3">
            Воспроизведение аудио-файла не поддерживается браузером
          </audio>
          <!-- <button class="music__item-more">
            <svg class="music__btn-more">
              <use href="./images/sprite.svg#dowland"></use>
            </svg>
          </button> -->
          <button class="music__btn">
            <svg class="music__btn-play">
              <use href="./images/sprite.svg#play"></use>
            </svg>
            <svg class="music__btn-pause">
              <use href="./images/sprite.svg#pause"></use>
            </svg>
          </button>
        </li>
        <li class="music__item">
          <img src="./images/brokenheart.jpg" alt="" class="music__img">
          <div class="music__item-text">
            <p class="music__audio-title">Broken heart</p>
            <p class="music__audio-artist">Tony_Naty</p>
          </div>
          <audio src="./audio/Broken heart.mp3">
            Воспроизведение аудио-файла не поддерживается браузером
          </audio>     
          <!-- <button class="music__item-more">
            <svg class="music__btn-more">
              <use href="./images/sprite.svg#dowland"></use>
            </svg>
          </button>     -->
          <button class="music__btn">
            <svg class="music__btn-play">
              <use href="./images/sprite.svg#play"></use>
            </svg>
            <svg class="music__btn-pause">
              <use href="./images/sprite.svg#pause"></use>
            </svg>
          </button>
        </li>
        </ul>
        </div>
    </div>
    </div>
    <div class="music__social-box">
      <ul class="music__social-list">
        <li class="music__social-item">
          <a
            class="music__social-link"
            href="https://www.reverbnation.com/tonynaty"
            target="_blank"
            rel="noopener noreferrer"
            >Reverbnation</a
          >
        </li>
        <li class="music__social-item">
          <a
            class="music__social-link"
            href="https://open.spotify.com/artist/6nasf2pJl31jilAflqvsX0?si=lKQr-1DbQG-m0esiI28daA&nd=1"
            target="_blank"
            rel="noopener noreferrer"
            >Spotify</a
          >
        </li>
        <li class="music__social-item">
          <a
            class="music__social-link"
            href="https://www.youtube.com/channel/UC4vllCH7ssAaMi545ERfGpQ"
            target="_blank"
            rel="noopener noreferrer"
            >Youtube</a
          >
        </li>
        <li class="music__social-item">
          <a
            class="music__social-link"
            href="https://music.apple.com/us/artist/tony-naty/1526482583/see-all?section=top-songs"
            target="_blank"
            rel="noopener noreferrer"
            >Music Apple</a
          >
        </li>
        <li class="music__social-item">
          <a
            class="music__social-link"
            href="https://soundcloud.com/tony-naty/tracks"
            target="_blank"
            rel="noopener noreferrer"
            >Soundcloud</a
          >
        </li>
      </ul>
    </div>
    <!-- <div class="player">
      <ul class="player__list">
        <li class="player__item">
          <button class="player__btn">
             <svg class="player__btn-ikon">
          <use href="./images/sprite.svg#burger"></use>
        </svg>
          </button>
        </li>
        <li class="player__item">
          <button class="player__btn">
             <svg class="player__btn-ikon">
          <use href="./images/sprite.svg#burger"></use>
        </svg>
          </button>
        </li>
        <li class="player__item">
          <button class="player__btn btn-play">
             <svg class="player__btn-ikon play">
          <use href="./images/sprite.svg#burger"></use>
        </svg>
          </button>
        </li>
         <li class="player__item">
          <button class="player__btn">
             <svg class="player__btn-ikon">
          <use href="./images/sprite.svg#burger"></use>
        </svg>
          </button>
        </li>
         <li class="player__item">
          <button class="player__btn">
             <svg class="player__btn-ikon">
          <use href="./images/sprite.svg#burger"></use>
        </svg>
          </button>
        </li>
      </ul>
    </div> -->
    <!-- <svg class="music__play-play">
      <use href="./images/sprite.svg#play"></use>
    </svg> -->
    <div>
<svg class="scroll-top scroll-top-hiden">
      <use href="./images/sprite.svg#up"></use>
    </svg>
    </div>
    
  </div>
</section>
