<section class="music section">
    <div class="container music__position" id="music">
      <div class="music__left">
<div class="wrapper">
  <div class="player">
    <div class="music__playlist-list">
      <svg class="music__playlist-svg">
      <use href="./images/sprite.svg#playlist-audio"></use>
      </svg></div>
  <div class="title">Tony Naty</div>
  <div class="cover">
    <svg class="cover__img">
      <use href="./images/sprite.svg#record"></use>
      </svg>
  </div>
  <div class="song">22:22</div>
  <audio class="audio" src="./audio/22-22.mp3"></audio>
  <div class="progress__container">
<div class="progress"></div>
  </div>
  <div class="music__btn">
    <div class="btn__prev">
      <!-- <svg class="btn__prev">
        <use href="./images/sprite.svg#previous"></use>
        </svg> -->
    </div>
    <div class="btn__play play-img">
      <!-- <svg class="play-img"> 
        <use href="./images/sprite.svg#play"></use>
        </svg>
        <svg class="pause btn-display-none">
          <use href="./images/sprite.svg#pause"></use>
          </svg> -->
    </div>
    <!-- <div>
      <svg class="btn__stop">
        <use class="btn-stop-use" href="./images/sprite.svg#pause"></use>
        </svg>
    </div> -->
    <div class="btn__next">
      <!-- <svg class="btn__next">
        <use href="./images/sprite.svg#next"></use>
        </svg> -->
    </div>
  </div>
  </div>
</div>
</div>
 <div class="music__right music__none"> 
  <ul class="music__playlist">
    <li class="music__play-item music-12">
      <audio id="audio12" class="audiocl" src="./audio/22-22.mp3">
        Воспроизведение аудио-файла не поддерживается браузером
      </audio>
      22:22</li>
       <li class="music__play-item music-13">
        <audio id="audio13" class="audiocl" src="./audio/feel  so good.wav">
          Воспроизведение аудио-файла не поддерживается браузером
        </audio>
        Feel So Good</li>
       <li class="music__play-item music-3">
          <audio id="audio3" class="audiocl" src="./audio/GINGER SNAPS.mp3">
            Воспроизведение аудио-файла не поддерживается браузером
          </audio>
          Ginger Snaps</li>
        <li class="music__play-item music-4">
          <audio id="audio4" class="audiocl" src="./audio/Hazel eyes.mp3">
            Воспроизведение аудио-файла не поддерживается браузером
          </audio>
           Hazel Eyes</li>
        <li class="music__play-item music-5"> 
          <audio id="audio5" class="audiocl" src="./audio/kOsmos.wav">
            Воспроизведение аудио-файла не поддерживается браузером</audio>
          Kosmos</li>
        <li class="music__play-item music-6"> 
          <audio id="audio6" class="audiocl" src="./audio/Major Lazer style.mp3">
            Воспроизведение аудио-файла не поддерживается браузером
          </audio>
          Major Lazer Style</li>
        <li class="music__play-item music-7"> 
          <audio id="audio7" class="audiocl" src="./audio/ROSE BABY ROSE.mp3">
            Воспроизведение аудио-файла не поддерживается браузером</audio
            >Rose Baby Rose</li>
        <li class="music__play-item music-8"> 
          <audio id="audio8" class="audiocl" src="./audio/Ruff Life.mp3">
            Воспроизведение аудио-файла не поддерживается браузером
          </audio>
          Ruff Day</li>
        <li class="music__play-item music-9"> 
          <audio id="audio9" class="audiocl" src="./audio/Lambada.mp3">
            Воспроизведение аудио-файла не поддерживается браузером
          </audio>
          Lambada</li>
        <li class="music__play-item music-10"> 
          <audio id="audio10" class="audiocl" src="./audio/Dance 1.mp3">
            Воспроизведение аудио-файла не поддерживается браузером
          </audio>
          Dance 1</li>
        <li class="music__play-item music-11"> 
          <audio id="audio11" class="audiocl" src="./audio/Broken heart.mp3">
            Воспроизведение аудио-файла не поддерживается браузером</audio>
          Broken Heart</li>
        </ul>
      </div>
      </div>
      </div>
    </div>  
        <div class="music__follow-social">
        <p class="follow__title">Follow me:</p>
        <ul class="follow__list">
          <li class="follow__item"><a href="https://www.reverbnation.com/tonynaty"target="_blank"
            rel="noopener noreferrer">
            <svg class="follow__svg">
              <use href="./images/sprite.svg#reverbnation"></use>
              </svg>
          </a></li>
          <li class="follow__item"><a href="https://www.youtube.com/channel/UC4vllCH7ssAaMi545ERfGpQ"target="_blank"
            rel="noopener noreferrer">
            <svg class="follow__svg">
              <use href="./images/sprite.svg#youtube"></use>
              </svg></a></li>
          <li class="follow__item"><a href="https://open.spotify.com/artist/6nasf2pJl31jilAflqvsX0?si=lKQr-1DbQG-m0esiI28daA&nd=1"target="_blank"
            rel="noopener noreferrer">
            <svg class="follow__svg">
              <use href="./images/sprite.svg#spotify"></use>
              </svg>
          </a></li>
          <li class="follow__item"><a href="https://soundcloud.com/tony-naty/tracks"target="_blank"
            rel="noopener noreferrer">
            <svg class="follow__svg">
              <use href="./images/sprite.svg#soundcloud"></use>
              </svg>
          </a></li>
          <li class="follow__item"><a href="https://music.apple.com/us/artist/tony-naty/1526482583/see-all?section=top-songs"target="_blank"
            rel="noopener noreferrer">
            <svg class="follow__svg">
              <use href="./images/sprite.svg#applemusic"></use>
              </svg>
          </a></li>
        </ul>
        </div>
        </div> 
  </div>
  </section>


     
