<section class="music" id="music">
  <div class="container">
    <div class="music__first-album">
      <!-- <img src="./images/unplash.jpg" alt="" width="250px" height="350px" /> -->
      <ul class="music__list">
        <li class="music__item">
          <p class="music__audio-title">22-22</p>
          <p class="music__audio-artist">Tony_Naty</p>
          <audio src="./audio/22-22.mp3">
            Воспроизведение аудио-файла не поддерживается браузером
          </audio>
          <!-- <a href="">...</a> -->
        </li>
        <li class="music__item">
          <p class="music__audio-title">Broken heart</p>
          <p class="music__audio-artist">Tony_Naty</p>
          <audio src="./audio/Broken heart.mp3">
            Воспроизведение аудио-файла не поддерживается браузером
          </audio>
          <!-- <a href="">...</a> -->
        </li>
        <li class="music__item">
          <p class="music__audio-title">Dance</p>
          <p class="music__audio-artist">Tony_Naty</p>
          <audio src="./audio/Dance 1.mp3">
            Воспроизведение аудио-файла не поддерживается браузером
          </audio>
          <!-- <a href="">...</a> -->
        </li>
        <li class="music__item">
          <p class="music__audio-title">Feel so good</p>
          <p class="music__audio-artist">Tony_Naty</p>
          <audio src="./audio/feel  so good.wav">
            Воспроизведение аудио-файла не поддерживается браузером
          </audio>
          <!-- <a href="">...</a> -->
        </li>
      </ul>
    </div>
    <div class="music__second-album">
      <!-- <img src="./images/unplash.jpg" alt="" width="250px" height="350px" /> -->
      <ul class="music__list">
        <li class="music__item">
          <p class="music__audio-title">Ginger snaps</p>
          <p class="music__audio-artist">Tony_Naty</p>
          <audio src="./audio/GINGER SNAPS.mp3">
            Воспроизведение аудио-файла не поддерживается браузером
          </audio>
          <!-- <a href="">...</a> -->
        </li>
        <li class="music__item">
          <p class="music__audio-title">Hazel eyes</p>
          <p class="music__audio-artist">Tony_Naty</p>
          <audio src="./audio/Hazel eyes.mp3">
            Воспроизведение аудио-файла не поддерживается браузером
          </audio>
          <!-- <a href="">...</a> -->
        </li>
        <li class="music__item">
          <p class="music__audio-title">Kosmos</p>
          <p class="music__audio-artist">Tony_Naty</p>
          <audio src="./audio/kOsmos.wav">
            Воспроизведение аудио-файла не поддерживается браузером
          </audio>
          <!-- <a href="">...</a> -->
        </li>
        <li class="music__item">
          <p class="music__audio-title">Lambada</p>
          <p class="music__audio-artist">Tony_Naty</p>
          <audio src="./audio/Lambada.mp3">
            Воспроизведение аудио-файла не поддерживается браузером
          </audio>
          <!-- <a href="">...</a> -->
        </li>
      </ul>
    </div>
    <div class="music__third-album">
      <!-- <img src="./images/unplash.jpg" alt="" width="250px" height="350px" /> -->
      <ul class="music__list">
        <li class="music__item">
          <p class="music__audio-title">Major Lazer style</p>
          <p class="music__audio-artist">Tony_Naty</p>
          <audio src="./audio/Major Lazer style.mp3">
            Воспроизведение аудио-файла не поддерживается браузером
          </audio>
          <!-- <a href="">...</a> -->
        </li>
        <li class="music__item">
          <p class="music__audio-title">Rose baby rose</p>
          <p class="music__audio-artist">Tony_Naty</p>
          <audio src="./audio/ROSE BABY ROSE.mp3">
            Воспроизведение аудио-файла не поддерживается браузером
          </audio>
          <!-- <a href="">...</a> -->
        </li>
        <li class="music__item">
          <p class="music__audio-title">Ruff life</p>
          <p class="music__audio-artist">Tony_Naty</p>
          <audio src="./audio/Ruff Life.mp3">
            Воспроизведение аудио-файла не поддерживается браузером
          </audio>
          <!-- <a href="">...</a> -->
        </li>
        <li class="music__item">
          <p class="music__audio-title">Broken heart</p>
          <p class="music__audio-artist">Tony_Naty</p>
          <audio src="./audio/Broken heart.mp3">
            Воспроизведение аудио-файла не поддерживается браузером
          </audio>
          <!-- <a href="">...</a> -->
        </li>
      </ul>
    </div>
    <div class="music__social-box">
      <ul class="music__social-list">
        <li class="music__social-item">
          <a
            class=""
            href="https://www.reverbnation.com/tonynaty"
            target="_blank"
            rel="noopener noreferrer"
            >Reverbnation</a
          >
        </li>
        <li class="music__social-item">
          <a
            class=""
            href="https://open.spotify.com/artist/6nasf2pJl31jilAflqvsX0?si=lKQr-1DbQG-m0esiI28daA&nd=1"
            target="_blank"
            rel="noopener noreferrer"
            >Spotify</a
          >
        </li>
        <li class="music__social-item">
          <a
            class=""
            href="https://www.youtube.com/channel/UC4vllCH7ssAaMi545ERfGpQ"
            target="_blank"
            rel="noopener noreferrer"
            >Youtube</a
          >
        </li>
        <li class="music__social-item">
          <a
            class=""
            href="https://music.apple.com/us/artist/tony-naty/1526482583/see-all?section=top-songs"
            target="_blank"
            rel="noopener noreferrer"
            >Music Apple</a
          >
        </li>
        <li class="music__social-item">
          <a
            class=""
            href="https://soundcloud.com/tony-naty/tracks"
            target="_blank"
            rel="noopener noreferrer"
            >Soundcloud</a
          >
        </li>
      </ul>
    </div>
  </div>
</section>
