<section class="new">
    <div class="container" id="new">
      <div class="flex">
      <div class="new__text">
        <h2 class="new__text-title">22:22</h2>
        <p>
         Bright Lights is a multi-Grammy nominated singer, songwriter, DJ and record producer. She has written for numerous 
  pop stars including 
        </p>
      </div>
  <div class="video"> 
   <iframe class="new__video" src="https://www.youtube.com/embed/Ti-eBUaEZP0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>
    <div class="new__social">
      <p class="new__social-title">listen here:</p>
      <ul class="new__social-list">
        <li class="new__social-item"><a href="https://www.youtube.com/channel/UC4vllCH7ssAaMi545ERfGpQ">
          <svg class="link__svg-sl">
            <use href="./images/sprite.svg#youtube2"></use>
            </svg></a></li>
      </ul>
      
  </div>

 
    </div>
  </section>