<section class="video">
  <div class="container">
    <div class="video__position">
      <div class="video__left">
        <h2 class="video__title">New video</h2>
        <p class="video__title-treck">Last trecks</p>
        <button class="video__social-btn">listen here</button>
      </div>
      <div class="video__right">
        <iframe class="video__iframe" src="https://www.youtube.com/embed/Ti-eBUaEZP0" 
        title="YouTube video player" frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen></iframe>
      </div>
    </div>
    <!-- <h2 class="video__title">New video</h2>
    <iframe class="video__iframe" src="https://www.youtube.com/embed/Ti-eBUaEZP0" 
    title="YouTube video player" frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
    allowfullscreen></iframe> -->
  </div>
</section>