<section class="services">
  <div class="container">
    <h2>Услуги</h2>
    <ul class="services__list">
      <li class="services__item">
        <svg class="services__icon">
          <use href="./images/sprite.svg#musicbrainz"></use>
        </svg>
        <p class="services__item-title">Название услуги</p>
        <ol class="services__list-advantage">
          <li class="services__item-advantage">hfgjgfjk</li>
          <li class="services__item-advantage">jfgjgfjfg</li>
          <li class="services__item-advantage">fghfgjfgk</li>
          <li class="services__item-advantage">fjgfkghkk</li>
        </ol>
        <button class="services-btn">Заказать услугу</button>
      </li>
      <li class="services__item">
        <svg class="services__icon">
          <use href="./images/sprite.svg#cinelog"></use>
        </svg>
        <p class="services__item-title">Название услуги</p>
        <ol class="services__list-advantage">
          <li class="services__item-advantage">hfgjgfjk</li>
          <li class="services__item-advantage">jfgjgfjfg</li>
          <li class="services__item-advantage">fghfgjfgk</li>
          <li class="services__item-advantage">fjgfkghkk</li>
        </ol>
        <button class="services-btn">Заказать услугу</button>
      </li>
      <li class="services__item">
        <svg class="services__icon">
          <use href="./images/sprite.svg#plate"></use>
        </svg>
        <p class="services__item-title">Название услуги</p>
        <ol class="services__list-advantage">
          <li class="services__item-advantage">hfgjgfjk</li>
          <li class="services__item-advantage">jfgjgfjfg</li>
          <li class="services__item-advantage">fghfgjfgk</li>
          <li class="services__item-advantage">fjgfkghkk</li>
        </ol>
        <button class="services-btn">Заказать услугу</button>
      </li>
    </ul>
  </div>
</section>
