<section class="service">
  <div class="container">
    <h2 class="service__title">Fields I work for</h2>
    <ul class="service__btn-list">
      <li class="service__btn-item active-btn">rgreg</li>
      <li class="service__btn-item">grerg</li>
      <li class="service__btn-item">grgegre</li>
    </ul>
    <h3 class="service__subtitle">Workflow</h3>
    <ul class="service__list">
      <li class="service__item">
        <svg class="service__number-ikon">
          <use href="./images/sprite.svg#number-one"></use>
        </svg>
        <p class="service__small-title">Briefing</p>
        <p class="service__description">
          At this point I discover what you need and how you need it to be done
        </p>
      </li>
      <li class="service__item">
        <svg class="service__number-ikon">
          <use href="./images/sprite.svg#number-two"></use>
        </svg>
        <p class="service__small-title">Sketches</p>
        <p class="service__description">
          I will draw the draft of your order to be sure we are heading at the right direction
        </p>
      </li>
      <li class="service__item">
        <svg class="service__number-ikon">
          <use href="./images/sprite.svg#number-three"></use>
        </svg>
        <p class="service__small-title">Designing</p>
        <p class="service__description">
          From sketches to detailed static design to see every picture pixel
        </p>
      </li>
    </ul>
  </div>
</section>
