<section class="video" id="video">
  <div class="container">
    <h2 class="video__title">last relise</h2>
    <ul class="video__list">
      <li class="video__item first">
        <img src="./images/unplash.jpg" alt="" width="300px" height="350px" />
        <p>title</p>
        <p>Tony_Naty</p>
      </li>
      <li class="video__item second">
        <img src="./images/unplash.jpg" alt="" width="300px" height="350px" />
        <p>title</p>
        <p>Tony_Naty</p>
      </li>
      <li class="video__item third">
        <img src="./images/unplash.jpg" alt="" width="300px" height="350px" />
        <p>title</p>
        <p>Tony_Naty</p>
      </li>
      <li class="video__item fourth">
        <img src="./images/unplash.jpg" alt="" width="300px" height="350px" />
        <p>title</p>
        <p>Tony_Naty</p>
      </li>
      <li class="video__item fifth">
        <img src="./images/unplash.jpg" alt="" width="300px" height="350px" />
        <p>title</p>
        <p>Tony_Naty</p>
      </li>
    </ul>
    <p>
      watch more:
      <button>YouTube</button>
    </p>
  </div>
</section>
