<section class="video" id="video">
  <div class="container">
    <h2 class="video__title">last relise</h2>
    <div class="swiper">
      <ul class="swiper-wrapper">
        <!-- <ul> -->
        <!-- <li class="swiper-slide">
         <iframe class="video__img"src="https://www.youtube.com/embed/rEV341f4ZB0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p>title</p>
        <p>Tony_Naty</p>
      </li> -->
        <li class="swiper-slide first">
          <img src="./images/Frame 6.png" alt="" class="swiper__slide-img">
          <div class="swiper__img-text-block">
          <p class="swiper__img-title">Title</p>
        <p class="swiper__img-desc">Tony_Naty</p>
          </div>
          
        </li>
        <li class="swiper-slide second">
          <img src="./images/Frame 6(2).png" alt="" class="swiper__slide-img">
          <div class="swiper__img-text-block">
          <p class="swiper__img-title">Title</p>
        <p class="swiper__img-desc">Tony_Naty</p>
          </div>
        </li> 
        <li class="swiper-slide second">
          <img src="./images/Frame 6 (1).png" alt="" class="swiper__slide-img">
          <div class="swiper__img-text-block">
          <p class="swiper__img-title">Title</p>
        <p class="swiper__img-desc">Tony_Naty</p>
          </div>
        </li>
        <!-- <li class="swiper-slide three">
           <iframe class="video__img"src="https://www.youtube.com/embed/rEV341f4ZB0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <p>title</p>
        <p>Tony_Naty</p>
        </li> -->
        <!-- <li class="swiper-slide">
        <iframe class="video__img"src="https://www.youtube.com/embed/rEV341f4ZB0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p>title</p>
        <p>Tony_Naty</p>
      </li> -->
        </ul>
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </ul>
    </div>
  </div>
</section>
