<section class="video" id="video">
  <div class="container">
    <h2 class="video__title">last relise</h2>
    <div class="swiper">
      <ul class="swiper-wrapper">
        <!-- <ul> -->
        <li class="swiper-slide">
         <iframe class="video__img"src="https://www.youtube.com/embed/rEV341f4ZB0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <!-- <p>title</p>
        <p>Tony_Naty</p> -->
      </li>
        <!-- <li class="swiper-slide first">
          <iframe class="video__img" src="https://www.youtube.com/embed/l2usGLYIN80" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          
          <p>title</p>
        <p>Tony_Naty</p>
        </li> -->
        <!-- <li class="swiper-slide second">
          <iframe class="video__img"src="https://www.youtube.com/embed/rEV341f4ZB0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <p>title</p>
        <p>Tony_Naty</p>
        </li> -->
        <li class="swiper-slide three">
           <iframe class="video__img"src="https://www.youtube.com/embed/rEV341f4ZB0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <!-- <p>title</p>
        <p>Tony_Naty</p> -->
        </li>
        <li class="swiper-slide">
        <iframe class="video__img"src="https://www.youtube.com/embed/rEV341f4ZB0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <!-- <p>title</p>
        <p>Tony_Naty</p> -->
      </li>
        </ul>
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </ul>
    </div>
  </div>
</section>
