.about {
  // background-color: aqua;
  min-height: 560px;
}
@media screen and (min-width: 1024px) {
  .about__position {
    display: flex;
    align-items: center;
  }
  .about__social-box {
    display: flex;
    align-items: center;
  }
  // ===================text==================
  .about__text-box {
    max-width: 450px;
  }
  // .about__title{

  // }
  // .about__description{

  // }
  // ------------------button-----------------
  // .about__btn{

  // }
  // -------------------img------------------
  .about__img-box {
    margin: 0 auto;
  }
  // -------------------social-link------------
  .about__social-list {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
