.new {
  background-color: blueviolet;
  min-height: 560px;
}
.swiper {
  width: 950px;
  height: 500px;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 550px;
  height: 450px;
  border-radius: 10px;
}
.swiper-pagination-bullet {
  background-color: rgba(255, 255, 255, 0.719);
  width: 30px;
  height: 10px;
  border-radius: 10px;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  color: #fff;
}
.swiper-button-prev {
  top: 0;
  left: 0;
  height: 100%;
  width: 90px;
  background-color: rgba(13, 14, 14, 0.596);
}
.swiper-button-next {
  top: 0;
  right: 0;
  height: 100%;
  width: 90px;
  background-color: rgba(13, 14, 14, 0.596);
}
