.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 42px;
    padding-bottom: 40px;
  }
  .header__nav{
    padding-bottom: 15px;
    border-bottom: solid 1px rgba(255, 255, 255, 0.719);
  }
  .header__nav-list{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  }

  .header__nav-item{
    &:not(:last-child){
      margin-right: 20px
    }
    
  }
  .header__nav-link{
    font-weight: 700;
    font-size: 12px;
    padding: 10px;
    color: rgba(255, 255, 255, 0.87);
    font-style: normal;
    &:hover,
    &:focus{
      color:  #BB86FC;
      border-radius: 16px;
}
  }

  @media screen and (min-width: 768px){
    .header__nav-link{
      font-size: 18px;
      letter-spacing: 5px;
    }
  }