.header{
    position: absolute;
    top: 0;
    left: 0;
    // background-color: rgba(8, 9, 10, 0.836);
    width: 100%;
    padding-top: 42px;
    padding-bottom: 40px;
    
  }
  .header__list{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header__nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header__nav-list{
  display: flex;
  justify-content: center;
  align-items: center;
  }

  .header__nav-item{
    &:not(:last-child){
      margin-right: 20px
    }
    
  }
  .header__nav-link{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    padding: 10px;
    color: var(--color-text);
    font-style: normal;
    &:hover,
    &:focus{
      color: var(--color-hover-focus);
      border-radius: 16px;
}
  }

  @media screen and (min-width: 768px){
    .header__nav-link{
      font-size: 18px;
      letter-spacing: 5px;
    }
  }