@media screen and (min-device-pixel-ratio: 2) and (min-width: 230px),
  screen and (min-resolution: 192dpi) and (min-width: 230px),
  screen and (min-resolution: 2dppx) and (min-width: 230px) {
  .hero {
    background-image: linear-gradient(rgba(18, 18, 18, 0.88), rgba(18, 18, 18, 0.88)),
      url(../images/hero.jpg);
  }
}
.hero {
  height: 100vh;
  min-height: 680px;
  max-height: 800px;

  background-image: linear-gradient(rgba(18, 18, 18, 0.88), rgba(18, 18, 18, 0.88)),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero__container {
  padding-top: 180px;
}
.hero__title {
  font-size: 38px;
  margin-bottom: 25px;
}
.hero__deskription {
  font-size: 22px;
  line-height: 1.2;
}
.hero__btn-list {
  margin-top: 50px;
}
.hero__btn-item {
  &:not(:last-child) {
    margin-bottom: 30px;
  }
}
.hero__btn {
  padding: 18px 16px;
  border: 1px solid #fff;
  border-radius: 10px;
  background: none;
  color: #fff;
}
.active {
  border: 1px solid rgb(223, 157, 14);
  color: rgb(223, 157, 14);
}
// @media screen and (min-width: 400px) {

// }
// @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
//   screen and (min-resolution: 192dpi) and (min-width: 768px),
//   screen and (min-resolution: 2dppx) and (min-width: 768px){

//   }
// @media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
//   screen and (min-resolution: 192dpi) and (min-width: 1200px),
//   screen and (min-resolution: 2dppx) and (min-width: 1200px){

//   }
