.hero {
  height: 100vh;
  min-height: 680px;
  max-height: 800px;
}
.hero__container {
  height: 100%;
  background-image: linear-gradient(rgba(0, 1, 3, 0.4), rgba(0, 0, 0, 0.4)),
    url(../images/mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
