.is-active {
  background: aqua;
}
.scroll-top {
  padding: 10px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid #fff;
  fill: #fff;
  position: fixed;
  bottom: 30px;
  right: 20px;
  cursor: pointer;
  z-index: 10000;
}
.scroll-top-show {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}
.scroll-top-hiden {
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
}
// ----------------------basic-----------------
.music {
  padding-top: 100px;
  padding-bottom: 100px;
}
.music__title {
  margin-bottom: 32px;
  color: var(--color-title-h2);
}
//   .music__list {
//
//   }
.music__item {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  // border-bottom: 1px solid #fff;
  background-color: rgba(104, 104, 104, 0.301);
  border-radius: 10px;
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}
.music__btn {
  padding: 0;
  border: none;
  background: none;
  width: 26px;
  height: 26px;
  margin-left: auto;
}
.music__btn-play {
  width: 100%;
  height: 100%;
}
.music__btn-pause {
  width: 100%;
  height: 100%;
  display: none;
}
.music__item-more {
  margin-left: auto;
  padding: 0;
  border: none;
  background: none;
  width: 22px;
  height: 20px;
}
.music__btn-more {
  width: 100%;
  height: 100%;
  fill: var(--fill-icon);
}
.music__img {
  margin-right: 15px;
}
.music__audio-title {
  font-size: 20px;
  margin-bottom: 5px;
  color: var(--color-title-h2);
}
.music__audio-artist {
  font-size: 18px;

  color: var(--color-text);
}
.is-active {
  background: aqua;
  .music__btn-pause {
    display: block;
  }
  .music__btn-play {
    display: none;
  }
}
//   .music__audio-artist{

//   }
// ----------------------first album-------------
.music__first-album {
  margin-bottom: 20px;
}

// ----------------------second album------------
.music__second-album {
  margin-bottom: 20px;
}
// ----------------------third album-------------
// .music__third-album {
//   margin-left: auto;
//   // max-width: 450px;
// }
//   ---------------------social-list--------------
.music__social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.music__social-item {
  &:not(:last-child) {
    margin-right: 42px;
  }
}
.music__social-link {
  font-style: normal;
  color: var(--color-text);
}
.music__social-box {
  margin-top: 40px;
}
// ====================================================
.player {
  background: rgba(255, 255, 255, 0.6);
  padding: 23px 26px;
}
.player__list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.player__item {
  &:not(:last-child) {
    margin-right: 42px;
  }
}
.player__btn {
  padding: 0;
  border: none;
  background: none;
}
.player__btn-ikon {
  width: 44px;
  height: 44px;
  fill: var(--fill-icon);
}
.btn-play {
  position: relative;
  top: -50px;
  width: 80px;
  height: 80px;
  filter: drop-shadow(0px 10px 20px rgba(85, 58, 1, 0.842));
  // box-shadow: 0px 10px 20px rgba(85, 58, 1, 0.25);

  border-radius: 50px;
}
.play {
  background: rgba(133, 108, 0, 0.25);
  background-blend-mode: overlay;
  backdrop-filter: blur(20px);
}
@media screen and (min-width: 768px) {
  .music__first-album {
    margin-left: auto;
    max-width: 50%;
  }

  // ----------------------second album------------
  .music__second-album {
    max-width: 50%;
  }
  // ----------------------third album-------------
  .music__third-album {
    margin-left: auto;
    max-width: 50%;
  }
}
@media screen and (min-width: 1440px) {
  .music__item {
    padding: 15px 25px;
    // &:not(:last-child) {
    //   margin-bottom: 20px;
    // }
  }
  .music__btn {
    width: 30px;
    height: 30px;
    // margin-right: 20px;
  }
  .music__btn-play {
    width: 100%;
    height: 100%;
  }
  .music__btn-pause {
    width: 100%;
    height: 100%;
    display: none;
  }
  .music__item-more {
    margin-left: auto;
    padding: 0;
    border: none;
    background: none;
    width: 22px;
    height: 30px;
  }

  .music__audio-title {
    font-size: 24px;
  }
}
