// .music {
//   background-color: #000;
// }
@media screen and (min-width: 1024px) {
  // ----------------------basic-----------------
  //   .music__list {
  //
  //   }
  .music__item {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  //   .music__audio-title{

  //   }
  //   .music__audio-artist{

  //   }
  // ----------------------first album-------------
  .music__first-album {
    margin-left: auto;
    max-width: 450px;
  }

  // ----------------------second album------------
  .music__second-album {
    max-width: 450px;
  }
  // ----------------------third album-------------
  .music__third-album {
    margin-left: auto;
    max-width: 450px;
  }
  //   ---------------------social-list--------------
  .music__social-list {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .music__social-item {
    &:not(:last-child) {
      margin-right: 42px;
    }
  }
}
