.video{
padding-top: 100px;
padding-bottom: 50px;
text-align: center;
}
.video__title{

    font-size: 48px;
    line-height: 54px;
    margin-bottom: 45px;
}
.video__iframe{
    display: block;
width: 300px;
height: 250px;
margin: 0 auto;
}

// @media screen and (min-width: 768px){
//     .video{

//     }
//     .video__title{
    
//     }
//     .video__iframe{
    
//     }
// }
// @media screen and (min-width: 1024px){
//     .video{

//             }
//             .video__title{
            
//             }
//             .video__iframe{
            
//             }
// }
// @media screen and (min-width: 1440px){
//     .video{

//     }
//     .video__title{
    
//     }
//     .video__iframe{
    
//     }
// }