.new{
    padding-top: 130px;
    padding-bottom: 40px;
}
.new__video{
    width: 250px;
    height: 180px;
    border-radius: 50px 0px;
}
.video{
    width: 250px;
    height: 180px;
    margin: 0 auto;
    margin-top: 70px;
}

.new__social{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.new__social-title{
    display: none;
}
.new__social-link{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .new__social-list{
        display: none ;
        align-items: center;
        justify-content: center;
    }
    .new__social-item{
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        cursor: pointer;
        &:not(:last-child) {
            margin-right: 15px;
        }
    }
    .link__svg-sl{
        width: 25px;
        height: 25px;
        fill: rgba(255, 255, 255, 0.6);
        &:hover,
        &:focus{
      fill: #BB86FC;
    //   border-radius: 35px;
    }
  
    }

.new__text{
    width: 250px;
    text-align: left;
    padding-left: 20px;
    color: rgba(255, 255, 255, 0.705);
}
.new__text-title{
    color: #ffffff;
    margin-bottom: 50px;
}


@media screen and (min-width: 768px){
    .new__social-title{
        display: block;
        font-weight: 700;
    font-size: 20px;
    margin-right: 10px;
    }
    .flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.video{
margin-top: 0;
margin: 0;
width: 300px;
height: 250px;
}
.link__svg-sl{
    fill: #ffffff;
    width: 70px;
    height: 40px;
}
.new__social-link{
    background-color: inherit;
}
.new__text{  
    width: 250px;
    height: 250px;
    margin-right: 70px;
}
.new__text-title{
    margin-top: 40px;
}
.new__video{
    width: 300px;
    height: 250px;
}
.new__social-list{
    display: flex;
    align-items: center;
    justify-content: center;
}
.new__social{
    margin-top: 60px;
}
}

@media screen and (min-width: 1024px){
    .video{
        width: 350px;
        height: 250px;
    }
    .new__video{
        width: 350px;
        height: 250px;
    }
    .new__text{  
        
        width: 250px;
        height: 300px;
        margin-right: 90px;
    }
}

@media screen and (min-width: 1440px){
    .video{
        width: 400px;
        height: 300px;
    }
    .new__video{
        width: 400px;
        height: 300px;
    }
    .new__text{  
        width: 300px;
        height: 300px;
        margin-right: 170px;
    }
    .new__social{
        margin-top: 100px;
    }
}