.social{
    background-color: #636363;
}
.social__container{
    // background: var(--social-background-color);
    // backdrop-filter: blur(50px);
    // border-radius: 25px;
    padding-top:76px;
    padding-bottom: 76px;
    text-align: center;
   
}
.link__svg-scl{
    width: 30px;
    height: 30px;
    padding: 10px;
    fill: #00C4F0;
    &:focus,
    &:hover{
        fill:  var(--color-hover-focus);
    }
}
.social__span{
    display: block;
}
// .elips{
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 159px;
// height: 159px;
// background: rgba(255, 72, 66, 0.4);
// filter: blur(100px);
// }
.social__social-list{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
}
.social__social-item{
    padding-top: 20px;
    background: #2A2A2A;
box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.47);
border-radius: 29px;
// width: 150px;
// height: 120px;
width: 120px;
height: 90px;
// display: flex;
    margin-top: 30px;
    margin-left: 30px;
}
.social__social-link{
    font-style: normal;
    color: #00C4F0;
    
    &:focus,
    &:hover{
        color:  var(--color-hover-focus);
    }
}
@media screen and (min-width: 768px){
    .social__container{
        max-width: 550px;
    margin: 0 auto;
    }
    .social__social-item{
        padding-top: 30px;
        width: 120px;
        height: 100px;
    }
}

@media screen and (min-width: 1024px){
    .social__container{
        max-width: 1000px;
    }
}
@media screen and (min-width: 1440px){
    .social__container{
        max-width: 1300px;
    }
    .social__social-item{
        width: 160px;
        height: 100px;
    }
}