.video {
  padding-top: 50px;
  padding-bottom: 50px;
}
.video__prev-list {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.video__prev-item {
  width: 60px;
  height: 60px;
  background-color: aqua;
  &:not(:last-child) {
    margin-right: 5px;
  }
}
.video__video {
  width: 290px;
  height: 200px;
  background-color: aqua;
  margin-bottom: 50px;
}
.video__title {
  margin-bottom: 50px;
}
.video__more {
  display: flex;
  align-items: center;
}
.video__more-title {
  margin-right: 10px;
}
.video__more-link {
  font-style: normal;
  color: #ffffff;
}
